{
    "tabWidth": 4,
    "printWidth": 80,
    "semi": true,
    "trailingComma": "none",
    "singleQuote": false,
    "jsxSingleQuote": false,
    "singleAttributePerLine": true,
    "plugins": ["prettier-plugin-tailwindcss", "@trivago/prettier-plugin-sort-imports"],
    "importOrder": ["^@6_shared/(.*)$", "^@5_entities/(.*)$", "<THIRD_PARTY_MODULES>", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],    "importOrderSeparation": true, 
    "importOrderSortSpecifiers": true 
}
