@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #ffffff;
    --secondary: #000000;
    --cyan-soft: #3b82f6;
    --cyan-dark: #2563eb;
    --cyan-neon: #00aeef;
    --blue: #061646;
    --darkblue: #01071f;

    --header-height: 4.5rem;

    --section-height-regular: 1000px;
    --section-height-mobile: 700px;
    --section-width-regular: 90%;
    --section-width-mobile: 96%;
}

@layer base {
    html {
        scroll-behavior: smooth;
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: var(--darkblue);
    }

    ::-webkit-scrollbar-thumb {
        background: var(--cyan-dark);
        border-radius: 4px;
    }
}

@layer utilities {
    .text-glowing {
        text-shadow: 0 0 6px #ffffff;
    }

    .row-aligned {
        display: flex;
        align-items: center;
    }

    .col-aligned {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
